.section {
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  background-color: #f6f6f6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-gap: 50px;
  justify-items: center;
  padding: 40px 25px;
}
