.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 73vh;
  text-align: center;
  color: #ff6060;
}

.notfound_title {
  font-size: 288px;
  font-weight: 700;
}

.notfound_text {
  font-size: 36px;
  font-weight: 500;
}

.notfound_link {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
  text-decoration: underline;

  margin-top: 20px;
}
